@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: Poppins;
}

header {
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    align-items: center;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin-left: 30px;
    text-decoration: none;
    color : #555;
    font-weight: 500;
}

.carousel {
    position: relative;
    height: 800px;
    overflow: hidden;
    margin-top: -50px;
}
.carousel .list {
    position: absolute;
    width: 1140px;
    height: 80%;
    max-width: 90%;
    left:50%;
    transform: translateX(-50%);
}
.carousel .list .item {
    position: absolute;
    left:0;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left .5s , opacity .5s, width .5s;
}
.carousel .list .item:nth-child(n + 6){
    opacity: 0;
}